

header {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  z-index: 5;
  background-color: white;
  top: 0px;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 40px;
  flex-grow: 1;
}

.logo span {
  padding-left: 10px;
}

.logo img {
  width: 70px;
  height: 60px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
  text-decoration: underline;
}

nav {
  margin-right: 20px;
}

/* main content container */

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
}

/* Large column */

.column.large {
  Display: flex;
  width: 630px;
  display: inline-block;
}

.image-content {
  display: flex;
  height: 300px;
  background-image: url(../img-story-main.png);
}

.image-content span {
  font-family: georgia;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.story {
  display: inline-block;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}


.mini.headline {
  display: flex;
  background-image: url(../img-story-2.png);
  height: 300px;
  justify-content: center;
  text-align: center;
}

.mini.headline span {
  font-family: georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;
}


.mini-headline.two {
  display: flex;
  background-image: url(../img-story-3.png);
  height: 300px;
  text-align: center;
}

.mini-headline.two span {
  font-family: georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

/* Medium column */
.column.medium {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.second.lead-story {
}

.cat.content {
  display: flex;
  background-image: url(../img-story-1.png);
  height: 180px;
  align-items: flex-start;
  text-align: center;
}

.cat.content span {
  font-family: georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;

}

.small.news {
}

/* Small column */
.column.small {
  display: flex;
  width: 240px;
  flex-direction: column;
  margin-right: 32px;
}

.newsbites {
  font-size: 16px;
  font-weight: bold;
}

.newsbites span {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
  border-bottom: 1px solid black;
}

h3 {
  text-align: center;
  padding-bottom: 30px;
}

.story.two {
  padding-bottom: 50px;
}

.story.three {
  padding-bottom: 50px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  margin-top: 70px;
}

.logo-2  {
  border-right: 2px solid white;
  padding-right: 30px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
display: inline-block;
}
