

header {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  z-index: 5;
  background-color: white;
  top: 0px;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 40px;
  border: 1px solid black;
  flex-grow: 1;
}

.logo span {
  padding-left: 10px;
}

.logo img {
  width: 70px;
  height: 60px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
  text-decoration: underline;
}

nav {
  margin-right: 20px;
}

/* main content container */

.content {
  display:flex;
  justify-content: space-between;
  padding-top: 116px;
  border: 1px solid black;

}

/* Large column */

.column.large {
  Display: flex;
  width: 630px;
  border: 1px solid black;
  flex-direction: column;
}

.lead-story {
  border: 1px solid black;
}

.image-content {
  display: flex;
  height: 300px;
  border: 1px solid black;
  background-image: url(../img-story-main.png);
}

.image-content span {
  font-family: georgia;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.other.stories {
  border: 1px solid black;
}

.story.two {
  border: 1px solid black;
}

.mini.headline {
  border: 1px solid black;
}

.story.three {
  border: 1px solid black;
}

.mini-headline.two {
  border: 1px solid black;
}

/* Medium column */
.column.medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
  flex-direction: column;
}

.second.lead-story {
  border: 1px solid black;
}

.cat.content {
  border: 1px solid black;
}

.small.news {
  border: 1px solid black;
}

/* Small column */
.column.small {
  display: flex;
  width: 240px;
  border: 1px solid black;
  flex-direction: column;
}

.cookie.image {
  border: 1px solid black;
}

.newsbites {
  border: 1px solid black;
}
